body{
    background-color: antiquewhite;
    font-family: "Poppins", sans-serif;
    
    
}

.product-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 10px;
    padding: 20px;
    gap: 20px;
}

.product-item h3{
    font-size: 20px;
    padding: 10px;
    margin-bottom: 10px;
    font-weight:bold ;
    text-transform: capitalize;
    box-shadow: 0 2px 4px rgb(0, 0, 0.1);
    transition: transform 0.3s ease ;
    color: rgb (#2d3436);
    border-radius: 12px;
    background: linear-gradient(90deg, #ffeaa7, #55efc4) ;
    cursor: pointer;

}
img{
    width: 100%;
    border-radius: 8px;
}

.product-item{
    min-width: 200px;
    width: calc(25% - 20px);
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 5px rgb(0, 0, 0, 0.2);
    text-align: center;
}

@media (max-width:1200px){
    .product-card{
        width: calc(50% - 20px);
    }
}

@media (max-width: 768px){
    .product-card{
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px){
    .product-card{
        width: calc(50% - 20px);
    }
}